/** @format */

@import "./../../index.scss";

.contenedor-auth {
  display: flex;
  height: 42rem;
  padding: 6rem 1.5rem 5rem 1.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0% 30% 0% 30%;
}

.carta-auth {
  display: flex;
  width: 23rem;
  height: 29rem;
  padding: 4rem 0rem 4rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 2.6875rem;
  flex-shrink: 0;
  justify-content: center;
}

.input {
  width: 23rem;
  height: 2.5rem;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  color: $color;
  border: none;
  border-bottom: 1px solid #000;
  background-color: $background-color;
}

@media (max-width:1000px) {
  .contenedor-auth {
      display: flex;
      flex-direction: column;
      margin: 0rem !important
    }
}