
@import './../index.scss';

.navbar{
    background-color: $primary-color !important;
    display: flex;
    height: 5rem;
    padding-top: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    gap:10rem;
    padding: 0% 30% 0% 30%;
}


.navbar-text{
    color:$white-color !important;
    height: 3.125rem;
    display: flex;
    align-items: center;
}

.img-back{
    margin-left: 2rem;
}

@media (max-width:1000px) {
    .navbar {
        padding: 0rem !important;
        gap:4rem;
      }
}